body {
	background-color: #eaeaea;
	color: #37484a;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}
.cd-intro-content {
	background:#c0d2d4;
	}

#container{
	color: white;
	padding: 0px -25px 0px 25px;
	font-size: 16px;
	bottom:0;
	margin: 0 auto;
	width: 100%;
	position:relative;
	min-height: 45px;
	background-color: #6d7e80;
	font-family:'Open Sans Condensed',sans-serif;
	text-shadow:1px 1px 0 rgba(255,255,255,0.5);
}
#wrapper {
	background-color: white;
	border: 1px #999 solid;
	width: 900px;
	min-height: 300px;
	margin: 0 auto;
	position: relative;
	
}

#site_header {
	background: #c0d2d4;
	min-height: 50px;
	padding: 10px;
	position: relative;
	border-bottom: #99a3a4 1px solid;
}

#logo {
	position: absolute;
	left: 25px;
}

#logo div {
	display: inline-block;
	width: 60px;
	height: 60px;
	background: url('курица.gif') no-repeat;
	background-size: 50px 50px;
}

#site_header h1 {
	display: inline-block;
	padding-left: 100px;
	width: 750px;
	font-size: 1.4em;
	margin-top: 10px;
}

#site_footer {
	position: absolute;
	bottom: 0px;
	width: 880px;
	padding: 10px;
	background-color: #6d7e80;
	color: white;
}

#main {
	padding: 20px 30px;
	margin-bottom: 35px;
}

a {
	color: #1b8099;
}

a:hover {
	color: #08b2c1;
}

.form {
	background-color: #e3eeef;
	padding: 12px;
	border: #c7d9db 1px solid;
	margin: 10px auto;
	font-size: 0.9em;
}

table.form tr td {
	padding: 3px;
}

td.submit {
	text-align: center;
}

.button {
	display: inline-block;
	border-radius: 2px;
	background-color: #1b8099;
	border: none;
	color: white;
	text-align: center;
	font-size: 0.96em;
	padding: 6px 18px;
	margin: 12px 10px auto;
	cursor: pointer;
}

.button:hover {
	background-color: #3694ac;
}

a.button {
	text-decoration: none;
	color: white;
}

.error {
	background-color: #ffbaba;
	border: #f67575 1px solid;
	padding: 10px;
	margin: 47px 0px 0px 0px;
	width: 95%;
}

.menu {
	padding-bottom:20px;
}

.menu a, .menu span {
	padding: 0px 5px;
	font-weight: bold;
	font-size: 0.9em;
}

.menu a {
	text-decoration: none;
}

.data {
	background: #f5f5f5;
	border-collapse: collapse;
	border: 1px solid #4b6b76;
	margin: auto;
	width: 500px;
	max-width:100%;
}



.data tr:nth-child(odd) {
	background: #63a5bd;
	color: white;
}

.data tr.header {
	background: #408ba6;
	color: white;
}

.data td {
	padding: 6px;
}

.okmessage {
	padding: 10px;
	margin: 47px 0px 0px 0px;
	background: #dcffbf;
	border: 1px solid #6e9d48;
	
}

.question_message {
	padding: 10px;
	margin: 10px auto;
	background-color: #e3eeef;
	border: 1px solid #87aeb3;
	
}

.logout {
	float: right;
}

hr {
	margin: 20px 0px;
}

.no_margin {
	margin: 0px;
}

.center {
	text-align: center;
}

.fullwidth {
	width: 100%;
}

.recomendations {
	margin-bottom: 50px;
}
* -------------------------------- 

Mask 2

-------------------------------- */
.mask-2.cd-intro-content * {
  /* overwrite default style */
  opacity: 1;

}

.mask-2.cd-intro-content .content-wrapper {
  position: relative;
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
  padding: 10px 0;
  overflow: hidden;

}
.mask-2.cd-intro-content .content-wrapper::before {
  /* vertical bar */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 2px;
  background-color: #ffffff;
  -webkit-animation: cd-pulse 1.3s 0.3s both;
  -moz-animation: cd-pulse 1.3s 0.3s both;
  animation: cd-pulse 1.3s 0.3s both;

}
.no-cssanimations .mask-2.cd-intro-content .content-wrapper::before {
  opacity: 0;

}
.mask-2.cd-intro-content .content-wrapper > div {
  /* wrap the entire content */
  position: relative;
  z-index: 1;
 
}

.mask-2.cd-intro-content .content-wrapper,
.mask-2.cd-intro-content .content-wrapper > div {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 1.1s;
  -moz-animation-delay: 1.1s;
  animation-delay: 1.1s;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  font-family: Candara;
	font-size: 27px;
	font-style: italic;
	font-variant: normal;
	font-weight: 700;
	line-height: 29.7px;
}

.mask-2.cd-intro-content .content-wrapper {
  -webkit-animation-name: cd-mask-wrapper;
  -moz-animation-name: cd-mask-wrapper;
  animation-name: cd-mask-wrapper;

}

.mask-2.cd-intro-content .content-wrapper > div {
  -webkit-animation-name: cd-mask-content;
  -moz-animation-name: cd-mask-content;
  animation-name: cd-mask-content;

}

@-webkit-keyframes cd-mask-wrapper {
  0% {
    -webkit-transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-mask-wrapper {
  0% {
    -moz-transform: translateX(50%);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-mask-wrapper {
  0% {
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
    transform: translateX(50%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-mask-content {
  0% {
    -webkit-transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes cd-mask-content {
  0% {
    -moz-transform: translateX(-100%);
  }
  100% {
    -moz-transform: translateX(0);
  }
}
@keyframes cd-mask-content {
  0% {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cd-pulse {
  0%, 30.8% {
    opacity: 0;
  }
  15.4%, 46.2%, 61.5%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



*{
	margin:0;
	padding:0;
}




/*----------------------------
	CSS3 Animated Navigation
-----------------------------*/



.fancyNav li{
	/* Specifying a fallback color and we define CSS3 gradients for the major browsers: */
	
	background-color: #f0f0f0;
	background-image: -webkit-gradient(linear,left top, left bottom,from(#fefefe), color-stop(0.5,#f0f0f0), color-stop(0.51, #e6e6e6));
	background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
	
	border-right: 1px solid rgba(9, 9, 9, 0.125);
	
	/* Adding a 1px inset highlight for a more polished efect: */
	
	box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	-webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
	
	position:relative;
	
	float: left;
	list-style: none;
}

.fancyNav{
	margin:0 65px;
}
.fancyNav li:after{

	/* This creates a pseudo element inslide each LI */	
	
	content:'.';
	text-indent:-9999px;
	overflow:hidden;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	z-index:1;
	opacity:0;
	
	/* Gradients! */
	
	background-image:-webkit-gradient(linear, left top, right top, from(rgba(168,168,168,0.5)),color-stop(0.5,rgba(168,168,168,0)), to(rgba(168,168,168,0.5)));
	background-image:-moz-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-o-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:-ms-linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	background-image:linear-gradient(left, rgba(168,168,168,0.5), rgba(168,168,168,0) 50%, rgba(168,168,168,0.5));
	
	/* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */
	
	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff,1px 0 0 #a3a3a3,2px 0 0 #fff;
	
	/* This will create a smooth transition for the opacity property */
	
	-moz-transition:0.25s all;
	-webkit-transition:0.25s all;
	-o-transition:0.25s all;
	transition:0.25s all;
}

/* Treating the first LI and li:after elements separately */

.fancyNav li:first-child{
	border-radius: 4px 0 0 4px;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after{
	box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-moz-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	-webkit-box-shadow:1px 0 0 #a3a3a3,2px 0 0 #fff;
	
	border-radius:4px 0 0 4px;
}

.fancyNav li:last-child{
	border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */

.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after{
	box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-moz-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	-webkit-box-shadow:-1px 0 0 #a3a3a3,-2px 0 0 #fff;
	
	border-radius:0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after{
	/* This property triggers the CSS3 transition */
	opacity:1;
}

.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after{
	/* Hides the targeted li when we are hovering on the UL */
	opacity:0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after{
	opacity:1 !important;
}

/* Styling the anchor elements */

.fancyNav li a{
	color: #5d5d5d;
	display: inline-block;
	font: 20px/1 Lobster,Arial,sans-serif;
	padding: 12px 35px 14px;
	position: relative;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
	z-index:2;
	text-decoration:none !important;
	white-space:nowrap;
}

.fancyNav a.homeIcon{
	background:url('../img/home.png') no-repeat center center;
	display: block;
	overflow: hidden;
	padding-left: 12px;
	padding-right: 12px;
	text-indent: -9999px;
	width: 16px;
}
/*кнопарь*/
.a_demo_three {
	background-color:#3bb3e0;
	font-family: 'Open Sans', sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:5px 13px;
	border-left:solid 1px #2ab7ec;
	margin-left:35px;
	background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(12,32,4) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(44,160,202)),
	color-stop(1, rgb(62,184,229))
	);
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #156785, 0px 10px 5px #999;
}

.a_demo_three:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -o-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(12,32,4) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(62,184,229) 0%, rgb(44,160,202) 100%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(62,184,229)),
	color-stop(1, rgb(44,160,202))
	);
	-webkit-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-moz-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	-o-box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
	box-shadow: inset 0px 1px 0px #2ab7ec, 0px 2px 0px 0px #156785, 0px 5px 3px #999;
}



.a_demo_three:active::before {
	top:-3px;
	-webkit-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	-moz-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	-o-box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
	box-shadow:inset 0px 1px 0px #2ab7ec, 0px 5px 0px 0px #032b3a, 1px 1px 0px 0px #044a64, 2px 2px 0px 0px #044a64, 2px 5px 0px 0px #044a64, 6px 4px 2px #0b698b, 0px 10px 5px #999 ;
}
